html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

main {
	width: 100%;
	height: 100%;
}

.container,
.columns {
	height: 100%;
}

.br-right {
	border-right: 1px solid lightblue;
}

.br-bottom {
	border-bottom: 1px solid lightblue;
}

header {
	height: 36px;
	padding: 0 0 10px 0;
}

.navbar-section {
	margin: 0 10px 0 10px;
}

#left-line {
    height:100%;
    width:8px;
}

.mainmenu {
	width: 270px;
	padding: 60px 20px 20px 20px;
	height: calc(100% - 36px);
	border-right: 1px solid lightblue;
	overflow-y: auto;
}

/* width */
.mainmenu::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.mainmenu::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.mainmenu::-webkit-scrollbar-thumb {
    background: #807fe2; 
}

/* Handle on hover */
.mainmenu::-webkit-scrollbar-thumb:hover {
    background: #5755d9; 
}

.info {
	position: fixed;
	top: 36px;
	/* width: calc(100% - 270px); */
	height: calc(100% - 36px);
	/* height: 100%; */
	/* float: right; */
	overflow: auto;
}

.insideinfo {
	width: 50%;
	height: 100%;
	margin: auto;
	padding: 30px 0 0 0;
}

.theframe {
	position: fixed;
	top: 36px;
	width: calc(100% - 270px);
	height: calc(100% - 36px);
	/* height: 100%; */
	float: right;
}

.rounded {
	border-radius: 10px;
	display: block;
	width: 90%;
	margin: auto;
	/* IE 9 */
	-ms-transform: rotate(-2deg);
	/* Safari */
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	box-shadow: 10px 10px 8px #aaaaaa;
}

#ra-content {
	padding: 0;
}

.hidden {
	display: none;
}

.hide {
	/* visibility: hidden; */
	opacity: 0;
	transition: opacity 0.5s linear;
}

.show {
	/* visibility: visible; */
	opacity: 1;
	transition: opacity 0.5s linear;
}

#menu-btn {
	position: fixed;
	top: 42px;
	left: 6px;
	z-index: 1000;
}

#exit-btn {
	position: fixed;
    top: 42px;
    left: 226px;
	z-index: 1000;
}

@-moz-document url-prefix() {
    .navbar-section {
		margin: 0px 0px 0px 10px;
	}
	.avatar {
		margin-right: 6px;
	}
	.mainmenu {
		width: 285px;
	}
	#exit-btn {
		left: 226px;
	}
}

